
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage1.cshtml";
}

<style>
    .contentBox {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    #compressionInfo {
        max-width: 100%;
        padding: 40px;
        background-color: #f4f4f4;
        border-radius: 8px;
    }

        #compressionInfo h1 {
            text-align: center;
            color: #333;
            padding: 10px;
            text-decoration: underline;
            line-height: 2;
        }

        #compressionInfo p {
            color: #666;
            padding: 10px;
        }
</style>

<div class="contentBox">

    <div id="compressionInfo">
        <h1>Welcome to Administration</h1>
        <p>Our website specializes in image compression, optimizing your images for efficient storage and fast loading times. Here's what we offer:</p>
        <ul>
            <li><strong>Efficient Compression:</strong> Our advanced algorithms ensure high compression rates without compromising image quality.</li>
            <li><strong>User-Friendly Interface:</strong> Easily upload and compress your images with a simple and intuitive interface.</li>
            <li><strong>Customization:</strong> Tailor compression settings, such as maximum file size and quality, to meet your specific needs.</li>
            <li><strong>Instant Results:</strong> View the compressed images instantly and download them for immediate use.</li>
            <li><strong>Optimized Performance:</strong> Enhance your website's performance by using smaller, optimized images.</li>
        </ul>
       
    </div>

</div>
